/* Container principal do formulário */
.login {
  border: 2px solid var(--cor-cinza-claro);
  width: 400px; /* largura fixa maior */
  max-width: 90%; /* responsivo em telas pequenas */
  height: auto;
  border-radius: 40px;
  box-shadow: var(--cor-cinza-escuro);
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Título */
h2 {
  margin-bottom: 20px;
  text-align: center;
}

/* Grupos de campos do formulário */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

/* Inputs e selects */
input,
.select {
  width: 100%; /* agora ocupa todo o container */
  max-width: 400px; /* limite máximo para não estourar */
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid var(--cor-cinza-claro);
  box-sizing: border-box;
}

/* Botão de cadastro */
button {
  width: 60%; /* maior e proporcional aos inputs */
  max-width: 250px;
  padding: 12px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  display: block;
  margin: 0 auto 20px auto;
}

button:hover {
  background-color: #45a049;
}
