.btn-info {
  background-color: var(--cor-cinza-claro);
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.btn-info:hover {
  background-color: var(--cor-cinza-escuro);
}
