canvas {
  max-width: 100%;
  height: 500px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}
