canvas {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}

button:hover {
  background-color: #0056b3;
}
