<mat-toolbar class="navbar">
  <button
    mat-icon-button
    color="primary"
    (click)="irHome()"
    matTooltip="Página Inicial"
  >
    <mat-icon>home</mat-icon>
  </button>

  <span class="navbar-spacer"></span>

  <!-- Ações do usuário -->
  <div class="navbar-actions">
    <!-- Usuário logado -->
    <ng-container *ngIf="isLoggedIn">
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-menu-button"
        matTooltip="Opções do usuário"
      >
        <mat-icon>person</mat-icon>
        <span>{{ currentUser?.perfil?.nome }}</span>
        <!-- ✨ Nome do usuário -->
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <div class="user-menu-header">
          <h3>{{ currentUser?.perfil?.nome }}</h3>
          <!-- ✨ Nome do usuário -->
          <p>{{ userRole }}</p>
        </div>
        <mat-divider></mat-divider>

        <!-- Opções para usuário comum -->
        <ng-container *ngIf="userRole !== 'ROLE_ADMIN'">
          <button mat-menu-item (click)="meusDados()">
            <mat-icon>person</mat-icon>
            <span>Meus Dados</span>
          </button>

          <button mat-menu-item (click)="meusRelatorios()">
            <mat-icon>analytics</mat-icon>
            <span>Meus Relatórios</span>
          </button>

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </ng-container>

        <!-- Opções adicionais para ADM -->
        <ng-container *ngIf="userRole === 'ROLE_ADMIN'">
          <button mat-menu-item (click)="meusDados()">
            <mat-icon>person</mat-icon>
            <span>Meus Dados</span>
          </button>

          <button mat-menu-item (click)="meusRelatorios()">
            <mat-icon>analytics</mat-icon>
            <span>Meus Relatórios</span>
          </button>

          <button mat-menu-item (click)="listarUsuarios()">
            <mat-icon>group</mat-icon>
            <span>Listar Usuários</span>
          </button>

          <button mat-menu-item (click)="listarFarmacias()">
            <mat-icon>group</mat-icon>
            <span>Listar Farmácias</span>
          </button>

          <button mat-menu-item (click)="cadastrarMedicamento()">
            <mat-icon>medication</mat-icon>
            <span>Cadastrar Medicamento</span>
          </button>

          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>

    <!-- Usuário não logado -->
    <ng-container *ngIf="!isLoggedIn">
      <button mat-raised-button color="primary" (click)="login()">
        <mat-icon>login</mat-icon>
        Entrar
      </button>
    </ng-container>
  </div>
</mat-toolbar>
