<div class="btn-relatorio">
  <h3>{{ modoAdicionar ? "Novo Relatório" : "Relatório - " + dataBR }}</h3>
  <hr />

  <!-- Peso -->
  <div>
    <label>Peso:</label>
    <input
      *ngIf="modoAdicionar"
      type="number"
      [(ngModel)]="relatorio.peso"
      placeholder="Digite o peso"
    />
    <p *ngIf="!modoAdicionar">Peso: {{ relatorio.peso }}</p>
  </div>

  <!-- Glicose -->
  <div>
    <label>Glicose:</label>
    <input
      *ngIf="modoAdicionar"
      type="number"
      [(ngModel)]="relatorio.glicose"
      placeholder="Digite a glicose"
    />
    <p *ngIf="!modoAdicionar">Glicose: {{ relatorio.glicose }}</p>
  </div>

  <!-- Colesterol HDL -->
  <div>
    <label>Colesterol HDL:</label>
    <input
      *ngIf="modoAdicionar"
      type="number"
      [(ngModel)]="relatorio.colesterolHDL"
      placeholder="Digite o HDL"
    />
    <p *ngIf="!modoAdicionar">Colesterol HDL: {{ relatorio.colesterolHDL }}</p>
  </div>

  <!-- Colesterol VLDL -->
  <div>
    <label>Colesterol VLDL:</label>
    <input
      *ngIf="modoAdicionar"
      type="number"
      [(ngModel)]="relatorio.colesterolVLDL"
      placeholder="Digite o VLDL"
    />
    <p *ngIf="!modoAdicionar">
      Colesterol VLDL: {{ relatorio.colesterolVLDL }}
    </p>
  </div>

  <!-- Creatina -->
  <div>
    <label>Creatina:</label>
    <input
      *ngIf="modoAdicionar"
      type="number"
      [(ngModel)]="relatorio.creatina"
      placeholder="Digite a creatina"
    />
    <p *ngIf="!modoAdicionar">Creatina: {{ relatorio.creatina }}</p>
  </div>

  <!-- Triglicerídio -->
  <div>
    <label>Triglicerídio:</label>
    <input
      *ngIf="modoAdicionar"
      type="number"
      [(ngModel)]="relatorio.trigliceridio"
      placeholder="Digite o triglicerídio"
    />
    <p *ngIf="!modoAdicionar">Triglicerídio: {{ relatorio.trigliceridio }}</p>
  </div>

  <!-- Botões -->
  <div class="acao-relatorio">
    <button *ngIf="modoAdicionar" (click)="onSalvar()">Salvar</button>
    <button *ngIf="modoAdicionar" (click)="onCancelar()">Cancelar</button>
    <button *ngIf="!modoAdicionar" (click)="onExcluir()">Excluir</button>
  </div>
</div>
