<app-navbar></app-navbar>

<div class="top-bar">
  <button class="botao-redondo" (click)="novoRelatorioAtivo = true">+</button>
</div>

<app-card-relatorio
  *ngIf="novoRelatorioAtivo"
  [relatorio]="relatorioNovo!"
  [modoAdicionar]="true"
  (salvar)="salvarNovoRelatorio($event)"
></app-card-relatorio>

<div class="cards-relatorios" *ngIf="!carregando && relatorios.length > 0">
  <app-card-relatorio
    *ngFor="let relatorio of relatorios"
    [relatorio]="relatorio"
  ></app-card-relatorio>
</div>
