<app-navbar></app-navbar>

<div class="container-fluid pb-4 pt-3">
  <div class="row g-4">
    <div class="col-12 col-lg-4 d-flex">
      <app-container
        titulo="Suas medicações"
        imagem="assets/vector.svg"
        class="dashboard-container"
      >
        <ng-container *ngFor="let med of usuario.medicamentos">
          <app-botao-remedio
            [nome]="med.nomeMedicamento"
            [doseDiaria]="med.doseDiaria"
            [dataInicio]="med.dataInicio"
            [duracao]="med.duracaoTratamento"
            (click)="abrirModalEditarMedicamento(med)"
          ></app-botao-remedio>
        </ng-container>

        <app-botao-generico
          titulo="Adicionar medicação"
          (click)="abrirModalAdicionarMedicamento()"
        ></app-botao-generico>
      </app-container>
    </div>

    <div class="col-12 col-lg-4 d-flex">
      <app-container
        titulo="Acompanhe sua saúde"
        imagem="assets/vector (1).svg"
        class="dashboard-container"
      >
        <div class="botoes-dashboard">
          <app-botao-info
            *ngFor="let botao of botoes"
            [titulo]="botao"
            (clickBotao)="abrirModal(botao)"
          ></app-botao-info>
        </div>
      </app-container>
    </div>

    <div class="col-12 col-lg-4 d-flex">
      <app-container
        titulo="IMC"
        imagem="assets/group.svg"
        class="dashboard-container"
      >
        <p><strong>Menor que 18,5</strong> — Abaixo do peso</p>
        <p><strong>18,5 – 24,9</strong> — Peso normal</p>
        <p><strong>25 – 29,9</strong> — Sobrepeso</p>
        <p><strong>30 – 34,9</strong> — Obesidade grau I</p>
        <p><strong>35 – 39,9</strong> — Obesidade grau II</p>
        <p><strong>40 ou mais</strong> — Obesidade grau III</p>

        <app-botao-generico
          [titulo]="tituloBotaoIMC"
          (click)="calcularIMC()"
        ></app-botao-generico>
      </app-container>
    </div>
  </div>
</div>

<app-modal [show]="modalAberto" (close)="fecharModal()">
  <h2>{{ modalTitulo }}</h2>
  <app-grafico *ngIf="modalAberto" [data]="data"></app-grafico>
</app-modal>

<app-modal-medicamento
  [show]="show"
  [modoAdicionar]="modoAdicionar"
  [medicamento]="medicamentoSelecionado"
  (fechar)="fecharModal()"
  (medicamentoAdicionado)="carregarMedicamentos()"
  (medicamentoAtualizado)="atualizarListaMedicamento($event)"
  (medicamentoRemovido)="removerDaLista($event)"
></app-modal-medicamento>
