<!-- modal-medicamento.component.html -->
<app-modal [show]="show" (close)="fecharModal()">
  <h2>Editar Medicação</h2>

  <div *ngIf="medicamento">
    <p><strong>Nome:</strong> {{ medicamento?.nomeMedicamento }}</p>

    <label for="dose">Dose diária:</label>
    <input
      id="dose"
      type="number"
      [(ngModel)]="medicamento.doseDiaria"
      placeholder="Dose diária"
    />

    <label for="dataInicio">Data de início:</label>
    <input id="dataInicio" type="date" [(ngModel)]="medicamento.dataInicio" />

    <label for="duracao">Duração (dias):</label>
    <input
      id="duracao"
      type="number"
      [(ngModel)]="medicamento.duracaoTratamento"
      placeholder="Duração do tratamento"
    />

    <div class="botoes-modal">
      <button class="btn-salvar" (click)="salvar()">Salvar</button>
      <button class="btn-excluir" (click)="excluir()">Excluir</button>
      <button class="btn-fechar" (click)="fecharModal()">Fechar</button>
    </div>
  </div>
</app-modal>
