canvas {
  max-width: 100%;
  height: 500px !important;
  display: flex;
  flex-direction: column; /* permite empilhar título + gráfico */
  align-items: center; /* centraliza horizontalmente */
  justify-content: center; /* centraliza verticalmente, se quiser */
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
}
