.dashboard-container {
  width: 100%;
}

.lista-cards {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 10px;
}

/* Scroll bonito */
.lista-cards::-webkit-scrollbar {
  width: 6px;
}

.lista-cards::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.lista-cards::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
