.btn-info {
  background-color: var(--cor-cinza-claro);
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* --- FLEXBOX para alinhar texto e imagem --- */
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: space-between; /* texto à esquerda, imagem à direita */
  box-sizing: border-box; /* padding incluso na largura */
}

.btn-info:hover {
  background-color: var(--cor-cinza-escuro);
}
