.card-relatorio {
  border-radius: 16px;
}

.titulo-relatorio {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--cor-cinza-escuro);
}

.campo {
  margin-bottom: 12px;
}

.campo label {
  font-size: 14px;
  font-weight: 600;
  color: var(--cor-cinza-escuro);
}

p {
  font-size: 16px;
  margin: 4px 0;
}
