<app-navbar></app-navbar>

<div class="top-bar">
  <button class="botao-redondo">+</button>
</div>

<div *ngIf="carregando">Carregando relatórios...</div>
<div *ngIf="erro">{{ erro }}</div>

<div class="cards-relatorios" *ngIf="!carregando && relatorios.length > 0">
  <app-card-relatorio
    *ngFor="let relatorio of relatorios"
    [relatorio]="relatorio"
    (editar)="editarRelatorio($event)"
    (excluir)="excluirRelatorio($event)"
  ></app-card-relatorio>
</div>

<div *ngIf="!carregando && relatorios.length === 0">
  Nenhum relatório encontrado.
</div>
