.linha-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

body {
  color: var(--cor-cinza-escuro);
}

.botao-redondo {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 24px !important;
  font-weight: bold !important;
  padding: 0 !important;
  overflow: visible !important;
  background-color: var(--cor-primaria) !important;
  color: black !important; /* COR DO + */
  border: none !important;
  cursor: pointer !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
  transition: transform 0.2s !important;
  margin-bottom: 20px;
  margin-left: 10px;
}

.botao-redondo:hover {
  transform: scale(1.1) !important;
}
