:host {
  display: block;
  width: 100%;
}

.container-padrao {
  border: 2px solid var(--cor-cinza-claro);
  box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.2);
  border-radius: 20px;

  width: 100%;
  min-height: 85vh;
  padding: 10px 15px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  position: relative;
}

.cabecalho-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cabecalho-container img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.titulo {
  font-size: 1.4rem;
  font-weight: 700;
  flex: 1;
  text-align: center;
  color: var(--cor-cinza-escuro);
  text-transform: uppercase;
}

.conteudo-wrapper {
  flex: 1;
  display: block;
  width: 100%;
}

.conteudo {
  width: 100%;
}

.conteudo > * {
  display: block;
  margin-bottom: 15px;
}
