/* Faz as colunas terem a mesma altura */
.row {
  display: flex;
  align-items: stretch;
}

/* Cada coluna vira flex container */
.col-12,
.col-lg-4 {
  display: flex;
}

/* App-container ocupa a coluna inteira */
.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Botões coluna 2 */
.botoes-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Botões remédios */
app-botao-remedio {
  margin-bottom: 15px;
}
