.modal-backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999 !important;
}

.modal {
  background-color: white;
  border-radius: 12px;
  padding: 25px;

  width: 50%;
  max-width: 600px;
  height: auto;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  position: relative;
  z-index: 100000 !important;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-header button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  width: 100%;
  margin-top: 10px;
}
