.btn-generico {
  background-color: var(--cor-cinza-escuro);
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  border: none;
  width: 60%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-generico:hover {
  background-color: var(--cor-cinza-claro);
}
