.btn-remedio {
  background-color: var(--cor-cinza-claro);
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Flex agora vertical para empilhar o conteúdo */
  display: flex;
  flex-direction: column; /* empilha nome, linha e infos */
  align-items: flex-start; /* alinha à esquerda */
  box-sizing: border-box; /* padding incluso na largura */
  margin-top: 10px;
}

.btn-remedio:hover {
  background-color: var(--cor-cinza-escuro);
}

/* Nome do remédio */
.btn-remedio h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

/* Linha separadora */
.btn-remedio hr {
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-top: 1px solid #000000;
}

/* Informações do remédio */
.btn-remedio p {
  margin: 2px 0;
  font-size: 16px; /* menor que o título */
  font-weight: 500;
  color: #000;
}
